.board {
    border: 2px black solid;
    min-height:50%;
}  

.enter {
  opacity: 0.01;
}

.enteractive {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.leave {
  opacity: 1;
}

.leaveactive {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}