.app {
  user-select: none;
  font-family: helvetica, arial, sans-serif;
  line-height: 200%;
  padding: 6px 20px 30px;
  color: pink;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  height:500px;
}
