
.card {
    position:inline-block;
    display:inline-block;
    color:black;
    max-width: 100px;
    max-height: auto;
    transition: margin 1s ease-in-out,width 0.2s ease-in-out;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }  
}

.card-drag {
    opacity: 1;
    margin: -50px;
}

.mana {
    
    top: -116px;
    left: 22px;
}


.attack {
    position:absolute;
    img{

        width:30px;
        height:auto;
        top: -2px;
        left: -12px;
        &:hover {
            transition: transform ease-in-out 0.2s;
            //transform: scale(1.55);
            z-index: 1; 
            opacity: 0.9;
        }
        
    }
    top: -10px;
    left: -89px;
}
.value {
     position:absolute;
    z-index: 1;
    font-family: "Belwe";
    font-weight: bold;
    font-size:22px;
    color:white;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
     &:hover {
            transition: transform ease-in-out 0.2s;
            transform: scale(1.55);

            opacity: 0.9;
    }
}

.health {
    img{
        position:absolute;
        width:24px;
        height:auto;
        top: -2px;
        left: -8px;
        z-index: 0; 
            &:hover {
        transition: transform ease-in-out 0.2s;
        transform: scale(1.55);
        z-index: 1; 
        opacity: 0.9;
    }
    }
    
    top: -9px;
    left: -30px;

}