
.minion {

   
    span {
        color: black;
    }
    img {
        width: 75px;
        height: auto;
        transition: transform ease-in-out 0.2s;
        &:hover {

            z-index: 1; 
        }
            display: inline;
      -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
    }
    
}  