
.minion {
    display: inline;
   
    span {
        color: black;
    }
    img {
        width: 75px;
        height: auto;
        transition: transform ease-in-out 0.2s;
        &:hover {

            z-index: 1; 
        }
    }
    
}  